# SPDX-License-Identifier: AGPL-3.0-only
# The launcher of the native preview, which runs beside the Python app. It
# claims no MIME type, so installing it can never make the preview a
# default handler; native/packaging/README.md explains each key.
[Desktop Entry]
Type=Application
Name=OpenXplorer Native Preview
GenericName=File Explorer
Comment=Preview of the native OpenXplorer file manager
Keywords=File Explorer;file explorer;File Manager;files;folders;SMB;NAS;network;archives;
Exec=openxplorer-native %U
TryExec=openxplorer-native
Icon=io.winspace.Development.Native
Terminal=false
Categories=System;FileTools;FileManager;
StartupNotify=true
Actions=new-window;

[Desktop Action new-window]
Name=New window
Exec=openxplorer-native --new-window
